<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <title>Welcome</title>
</head>

<body>
    <h1>Καλωσήρθες!</h1>
    <p th:text="'Συνδεδεμένος ως: ' + ${email}"></p>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Αποσύνδεση</button>
    </form>
    <!-- Φαίνεται μόνο αν έχει ρόλο ADMIN ή MANAGER -->

    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
        <a href="/admin/index" class="btn btn-primary">Back Office</a>
    </div>




</body>

</html>