<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Σύνδεση</title>
</head>
<body>
    <h2>Σύνδεση Χρήστη</h2>
    <form th:action="@{/login}" method="post">
        <label>Email:</label>
        <input type="text" name="username" required><br><br>

        <label>Κωδικός:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Σύνδεση</button>
    </form>
    <p>Δεν έχετε λογαριασμό;
        <a th:href="@{/signup}">Εγγραφή εδώ</a>
    </p>
    
</body>
</html>
