<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Εγγραφή</title>
</head>

<body>
    <h2>Εγγραφή Χρήστη</h2>
    <form th:action="@{/signup}" method="post">
        <label>Email:</label>
        <input type="text" name="email" required><br><br>

        <label>Κωδικός:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Εγγραφή</button>
    </form>
    <div th:if="${param.error}">
        <p style="color: red;">Το email χρησιμοποιείται ήδη.</p>
    </div>
</body>

</html>